[Unit]
Description=MBK
After=multi-user.target


[Service]
WorkingDirectory=/home/projects/MBK/mbk_bot
User=root

Environment=SERVER="VDS1"
OOMScoreAdjust=-100

ExecStart=/usr/local/bin/python3.7 /home/projects/MBK/mbk_bot/telsent.py

TimeoutSec=300
Restart=always
RestartSec=2
StartLimitBurst=5