.Page {
  padding-top: 3%;
}
.container{
  border-radius: 20px;
}

.baseelem{
  height: 100%;
  width: 100px;
  background-color: aqua;
}
.box{
  width: 100%;
  /*height: 100px;*/
  background-color: aliceblue;
}

